@import "./normalize.css";

:root {
    /* 定义变量 */
    --color-text: #666;
    --color-high-text: #ff5777;
    --color-theme: #5da6eb;
    /* wx */

}

body {
    margin: 0;
    padding: 0;
    background-color: var(--weui-BG-0);
}