@import "./normalize.css";
@import "./wx.css";

:root {
    /* 定义变量 */
    --color-text: #666;
    --color-high-text: #ff5777;
    --color-theme: #5da6eb;

    height: 100%;

}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* 尺寸设置 */

#app {
    height: 100%;
}

.view {
    height: 100%;
}

.view-B {
    height: calc(100% - 60px);
}

.scroolBox {
    overflow-y: scroll;
}

.scroolBox-TB {
    overflow-y: scroll;
    height: calc(100% - 50px);
}
