:root {
    /* 定义变量 */
    --color-text: #666;
    --color-high-text: #ff5777;
    --color-theme: #5da6eb;
    /* wx */
}

body {
    background-color: rgb(237, 237, 237);
}

.nav-bar {
    background-color: rgb(236, 236, 236);
}

.wxMessagePanel {
    background-color: #fff;
}
